TestImages
TrainImages
Images
.env
model_bin
C:\Users\orbel\Desktop\python\classification_technique\~\Desktop\resnet-dogs
~/Desktop/resnet-dogs/save_at_1/keras_metadata.pb
~/Desktop/resnet-dogs/save_at_1/saved_model.pb
~/Desktop/resnet-dogs/save_at_1/variables/variables.data-00000-of-00001
~/Desktop/resnet-dogs/save_at_1/variables/variables.index
~/Desktop/resnet-dogs/save_at_2/keras_metadata.pb
~/Desktop/resnet-dogs/save_at_2/saved_model.pb
~/Desktop/resnet-dogs/save_at_2/variables/variables.data-00000-of-00001
~/Desktop/resnet-dogs/save_at_2/variables/variables.index
~/Desktop/resnet-dogs/save_at_3/keras_metadata.pb
~/Desktop/resnet-dogs/save_at_3/saved_model.pb
~/Desktop/resnet-dogs/save_at_3/variables/variables.data-00000-of-00001
~/Desktop/resnet-dogs/save_at_3/variables/variables.index
~/Desktop/resnet-dogs/save_at_4/keras_metadata.pb
~/Desktop/resnet-dogs/save_at_4/saved_model.pb
~/Desktop/resnet-dogs/save_at_4/variables/variables.data-00000-of-00001
~/Desktop/resnet-dogs/save_at_4/variables/variables.index
~/Desktop/resnet-dogs/save_at_5/keras_metadata.pb
~/Desktop/resnet-dogs/save_at_5/saved_model.pb
~/Desktop/resnet-dogs/save_at_5/variables/variables.data-00000-of-00001
~/Desktop/resnet-dogs/save_at_5/variables/variables.index
